<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container my-2">
            <div class="row" id="comments-container">
                
            </div>
            <div id="demo" class="collapse">
             </div>
    </div>

    <div class="container my-2">

        <h1 class="h1 text-center">COMMENTS </h1>
        <form>
            <div class="form-group">
                <label for="comment-title" class="h4">Comments Title</label> <br>
                <input class="form-control form-control-sm" id="commentTitle" rows="3">
            </div>
            <div class="form-group">
              <label for="comment-body" class='h4'>Comments Body</label> <br>
              <textarea class="form-control form-control-lg" id="commentBody" rows="10" cols='100'></textarea>
            </div>
            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
          </form>
        
        </div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- <link  defer rel="stylesheet" href="css/bootstrap.css">  -->
    <script defer src="js/jquery-3.4.1.js"></script>
    <script defer src="js/popper.js"></script>
    <script defer src="js/bootstrap.js"></script>
    
    <script defer src='/app/comments.js'></script>
    <script>loadComments()</script>
    <script>writeComment()</script>
</body>
</html>